<div class="product-list">
  <h2>Добавить новый товар</h2>
  <form (submit)="addProduct()">
    <input [(ngModel)]="newProduct.typeProduct" name="typeProduct" placeholder="Тип товара" required />
    <input [(ngModel)]="newProduct.vendor" name="vendor" placeholder="Производитель" required />
    <input [(ngModel)]="newProduct.model" name="model" placeholder="Модель" />
    <input [(ngModel)]="newProduct.price" name="price" type="number" placeholder="Цена" required min="100" />
    <input [(ngModel)]="newProduct.count" name="count" type="number" placeholder="Количество" required min="1" />
    <input [(ngModel)]="newProduct.img" name="img" placeholder="URL изображения" />
    <input [(ngModel)]="newProduct.vendorEmail" name="vendorEmail" type="email" placeholder="Email" required />
    <textarea [(ngModel)]="newProduct.description" name="description" placeholder="Описание"></textarea>
    <button type="submit">Добавить</button>
  </form>

  <h2>Список товаров</h2>
  <div *ngFor="let product of products" class="product-item-container">
    <app-product-item [product]="product"></app-product-item>
    <button (click)="deleteProduct(product.id)" class="delete-btn">Удалить</button>
  </div>
</div>
